

.header {
	display: flex;
	justify-content: space-between;
}

.header-left {
	display: flex;
	justify-content: space-between;
}

.header-right {
	margin: auto;
	
	ul {
		display: flex;
		justify-content: space-between;
	}
}

.button1 {
	background-color: #FFFFFF;
	border-color: #BCD0E5;
	color: #173A56;
	border-radius: initial;
	margin: 5px;
}
.button2 {
	background-color: #FF9900;
	border-radius: initial;
	margin: 5px;
}
.nav ul{
	color: #2F281E;
}
